<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href=""><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-servicestack"></i> Our services</a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-phone"></i> Contact us</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="home_message">
            <h1>Wanna get in touch with us? Hit the button down below.</h1>
        </div>
        <div class="btn-box">
            <button>Click me!</button>
        </div>
    </main>
</body>
</html>
