<!DOCTYPE html>
<html lang="en">
    <%- include ('include/head') %>

    <body id="contact-page">
            <%- include ('include/nav') %>
        <div class="page container-fluid">
            <div class="main-title row">
                <h1>Contact us</h1>
            </div>
            <div class="row">
            <p>
                Here are ways you can get in touch with us: 
                <br>
                Telephone number <i class="fa-solid fa-phone"></i> : (+225) 0777046766 
                <br>
                E-mail address <i class="fa-solid fa-at"></i> : 
                <a href="mailto:auguste3d90@gmail.com">
                    Email Us
                </a>  
            </p>
        </div>
        </div>

        <%- include ('include/footer') %>
    </body>

</html>