<!DOCTYPE html>
<html lang="en">
    <%- include ('include/head') %>

    <body id="contact-page">
            <%- include ('include/nav') %>
        <div class="page container-fluid">
            <div class="main-title row">
                <h1>Our Services</h1>
            </div>
            <div class="row">
                <!-- <ol>
                    <li>We train young people to become very impressive web developers</li>
                    <li>We build online-shop website for customers</li>
                    <li>We integrate data for companies</li>
                </ol> -->

                <div class="container-box">
                    <div class="card specBorder-1"><h3>We Train Web Developers</h3></div>
                    <div class="card"><h3>We Build Websites</h3></div>
                    <div class="card specBorder-2"><h3>Business Intelligence</h3></div>
                </div>
            </div>
        </div>

        <%- include ('include/footer') %>
    </body>

</html>