<!DOCTYPE html>
<html lang="en">
    <%- include ('include/head') %>

    <body id="contact-page">
            <%- include ('include/nav') %>
        <div class="page container-fluid">
            <div class="main-title row">
                <h1>Our Services</h1>
            </div>
            <div class="row">
                <ol>
                    <li>We train young people to become very impressive web developers</li>
                    <li>We build online-shop website for customers</li>
                    <li>We integrate data for companies</li>
                </ol>
            </div>
        </div>

        <%- include ('include/footer') %>
    </body>

</html>